<div class="container">
  <div class="jumbotron">
    <h1>Add a New Game to Review</h1>
  </div>
  <div class="jumbotron">
    <form class="" action="/games" method="post">
      <label for="">Game Name</label>
        <input type="text" name="gameName" value="">
      <label for="">Game Review</label>
        <input type="text" name="gameReview" value="">
      <button type="submit" name="button">Create User</button>
    </form>
  </div>
</div>
