<!--index.vtl-->
<div class="container">
  <div class="jumbotron">
    <h1>Game Review Site</h1>
  </div>
  <div class="jumbotron">
    <a href="/add-user"><h3>Create a new User</h3></a>
    <a href="/users"><h3>View All Users</h3></a>
    <a href="/games"><h3>View Game Reviews</h3></a>
  </div>
</div>
<!--index.vtl-->
