<div class="container">
  <div class="jumbotron">
    <h1>Here are all of the Users</h1>
  </div>
  <div class="jumbotron">
    #foreach ($user in $users)
    <h3><a href="/users/$user.getId()">$user.getUserName()</a></h3>
    #end
  </div>
  <div class="jumbotron">
    <h3><a href="/">Go Home</a></h3>
  </div>
</div>
